:root {
  --blanco: #ffffff;
  --gris1: #80c2f8;
  --gris2: #30a3d8;
  --rosa: rgb(15, 10, 80);
  --gris3: #80c2f8;
  --negro: #000000;
  --h1: #012c64;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--rosa);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: rgb(16, 6, 77);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  color: whitesmoke;
  background-color: transparent;
  font-weight: 600;
}

.eliminar {
  background-color: red;
  color: rgb(250, 250, 250);
  font-weight: bold;
  display: block;
  width: 100%;
}

.fa-user {
  color: white;
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: var(--blanco);
    flex: 0 0 300px;
  }
  .seccion-principal {
    flex: 1;
  }
}

/* BARRA LATERAL */
aside {
  padding: 3rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--blanco);
}
.formulario-nuevo-proyecto .input-text::placeholder {
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
}
.listado-proyectos li a {
  font-size: 1.4rem;
  color: var(--gris2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(16, 6, 77);
  padding: 4rem;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  flex: 1;
  width: 100%;
}

/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem;
}

.listado-tareas {
  max-width: 600px;
  margin: 0 auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: 0.5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
  box-shadow: 0px 4px 10px -3px rgba(117, 117, 117, 1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}
.tarea .acciones .btn:first-of-type {
  margin-right: 1rem;
}
.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
  color: #112649;
}
.tarea .btn {
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 0;
  margin: 0;
}

.estado {
  margin-right: 1rem;
}
.estado button,
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: rgba(154, 252, 154, 0.3);
  color: rgb(0, 167, 0);
}
.incompleto {
  background-color: rgba(255, 178, 178, 0.4);
  color: red;
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}

.tarea-enter,
.proyecto-enter {
  opacity: 0;
}
.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tarea-exit,
.proyecto-exit {
  opacity: 1;
}
.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-usuario {
  background-color: var(--gris2);
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"],
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: 0.7;
}

/******************************************Landing****************************************************/
.container__landing {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.land {
  background-color: #ffffff;
  height: 135vh;
}

.header__landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header__landing ul {
  display: flex;
  width: 28%;
  justify-content: space-between;
}

.header__landing ul li {
  list-style: none;
  font-weight: 600;
}
.header__landing ul li:hover {
  border-bottom: 1px solid rgb(163, 25, 140);
}
.header__landing .linker {
  list-style: none;
  font-weight: 600;
  color: black;
}
.header__landing .linker:hover {
  border-bottom: 1px solid rgb(163, 25, 140);
}

.burbuja .circle {
  position: absolute;
  right: 55%;
  filter: blur(3px);
  margin-left: 60px;
  top: 80%;
}

.circle2 {
  position: absolute;
  right: 65%;
  filter: blur(3px);
  margin-left: 60px;
  top: 10%;
}

.circle3 {
  position: absolute;
  right: 20%;
  filter: blur(3px);
  margin-left: 60px;
  top: 30%;
}

.info-landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title  banner";
  text-align: left;
  margin-bottom: 15rem;
}

.title-land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: title;
}

.title-land .title {
  font-size: 4.4rem;
  font-family: "Chelsea Market", cursive;
  color: var(--h1);
  text-align: left;
}

.span-color {
  color: #c90075;
  font-weight: 700;
}

.title-land .support {
  font-size: 2rem;
}

.title-land .empresas {
  font-size: 2.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #8a99ad;
}

.title-land .support-img {
  width: 100px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.info-button {
  background: #ec7709;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.527);
  border-radius: 15px;
  width: 260px;
  height: 45px;
  outline: none;
  cursor: pointer;
  color: #112649 !important;
  border: 2px solid #ec7709;
  font-weight: 600;
  font-size: 2.2rem;
  transition: 0.4s;
}

.info-button Link {
  color: #030108 !important;
}

.info-button:hover {
  background: rgb(240, 196, 160);
  border: transparent;
}

.info-landing img {
  grid-area: banner;
  width: 700px;
}

/** section features **/
.whyfylo {
  height: 60vh;
}

.whyfylo h1 {
  font-family: "Chelsea Market", cursive;
  color: #c90075;
}
.whyfylo .features {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "features2 rocket features2";
}

.features2 {
  grid-area: "features2";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features .feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.features p,
.features h2 {
  margin-top: 8px;
  color: #112649;
}

.rocket {
  grid-area: "rocket";
  display: flex;
  justify-content: center;
  align-items: center;
}
.rocket img {
  border-radius: 50%;
}

.features h2 {
  font-size: 2.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section.features p {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #030108;
  font-size: 2rem;
  font-weight: 600;
  width: 50%;
  text-align: center;
}

/************************************/

.bost {
  background: white;
height: 1000px;
  margin-top: 20rem;
  display: flex;
  align-items: center;
}

.info-landing .cohete {
  width: 500px;
}

.organized {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.organized h1 {
  font-family: "Chelsea Market", cursive;
  font-weight: 700;
  color: #af0f6c;
}

.organized img {
  width: 40px;
}

.organized .pe {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

/** footer **/

footer.main-footer {
  max-width: 100%;
  padding-top: 200px;
  padding-bottom: 40px;
  background-color: var(--clr-primary-3);
  align-items: flex-start;
}

.main-footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logo img {
  width: 8rem;
  height: auto;
  margin: 0 30px 0 0;
}

footer .footer_content {
  width: 90%;
  margin: 40px auto;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(219, 187, 2);
}

.button {
  outline: none;
  background: rgb(241, 158, 3);
  border: none;
  height: 43px;
  width: 460px;
  border-radius: 25px;
}

.atribution {
  display: flex;
  align-items: center;
  justify-content: center;
}

.atribution a {
  color: #112649;
  font-weight: bold;
}

/** div:Early access **/

.early_access {
  background-color: #d62e90;

  position: absolute;
  transform: translate(-50%, -90px);
  left: 50%;
  border-radius: 17px;
  padding: 20px;
  width: 50%;
}

.early_access p {
  margin-top: 14px;
  line-height: 1.5;
  color: var(--white-2);
  font-size: 0.89rem;
}

.early_access .form {
  margin-top: 15px;
}

.early_access .form input {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 20px;
}

#mail {
  width: 60%;
  margin-right: 20px;
}

#submit {
  background-image: linear-gradient(
    to right,
    var(--accent-1),
    var(--accent-2),
    var(--accent-2)
  );
  width: 30%;
  color: var(--while-1);
  font-weight: 700;
  cursor: pointer;
  transition: 1s ease;
}

#submit:hover {
  background-image: linear-gradient(to right, var(--accent-2), var(--accent-1));
}

@media screen and (max-width: 974px) {
  .early_access {
    transform: translate(-50%, -150px);
  }
  .early_access .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #submit {
    width: 65%;
    margin: 15px auto;
    text-align: center;
    align-items: center;
    align-self: center;
  }
  #mail {
    margin: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 790px) {
  .early_access {
    width: 85%;
  }
}

@media only screen and (max-width: 500px) {
  .info-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-landing .title-land {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .info-landing .title {
    font-size: 2rem;
    text-align: center;
  }
  .info-landing .banner {
    width: 400px;
    margin-top: 4rem;
  }

  .header__landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .header__landing ul {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__landing ul li {
    
    margin-right: 1rem;
  }

  .rocket img {
    width: 220px;
    margin-bottom: 5rem;
  }


  .whyfylo{
    height: 66vh;
  }
  .whyfylo .features {
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #80c2f8;
  }

  .bost .organized {
    margin-top: 40rem;
  
  }



  .organized .pe{
   font-size: 1.5rem;
   
  }
}
